<div class="main-container">
    <div class="left-section">
        <mat-card class="card-container">
            <mat-card-header class="card-header">
                <mat-card-title>Size</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field style="width: 100%;">
                    <mat-label>Width</mat-label>
                    <input matInput type="text" [(ngModel)]="canvas.size.width" (keyup)="changeSize()">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Height</mat-label>
                    <input matInput type="text" [(ngModel)]="canvas.size.height" (keyup)="changeSize()">
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-container">
            <mat-card-header class="card-header">
                <mat-card-title>Add Label</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field style="width: 100%;">
                    <mat-label>Label Text</mat-label>
                    <input matInput type="text" [(ngModel)]="textLabel.text">
                    <mat-icon matSuffix (click)="addText()" color="primary" style="cursor: pointer;">add</mat-icon>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Label Color</mat-label>
                    <input matInput [ngxMatColorPicker]="colorpicker" [(ngModel)]="textLabel.color">
                    <ngx-mat-color-toggle matSuffix [for]="colorpicker"></ngx-mat-color-toggle>
                    <ngx-mat-color-picker #colorpicker color="primary"></ngx-mat-color-picker>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Label BackGround Color</mat-label>
                    <input matInput [ngxMatColorPicker]="backGroundColorpicker"
                        [(ngModel)]="textLabel.backgroundColor">
                    <ngx-mat-color-toggle matSuffix [for]="backGroundColorpicker"></ngx-mat-color-toggle>
                    <ngx-mat-color-picker #backGroundColorpicker color="primary"></ngx-mat-color-picker>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-container">
            <mat-card-header class="card-header">
                <mat-card-title>Setting</mat-card-title>
            </mat-card-header>
            <mat-card-content class="setting-container">
                <mat-slide-toggle [(ngModel)]="canvas.previewMode" color="primary" (click)="changeMode()">
                    Preview Mode
                </mat-slide-toggle>
                <button mat-stroked-button color="warn" style="margin-top: 1rem;" (click)="clearEditorDialog()">
                    <mat-icon>error</mat-icon>
                    Clear Page
                </button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="main-section">
        <div class="help-section">
            <button mat-icon-button matTooltip="Editing Manual" aria-label="Help" (click)="editingManualDialog()">
                <mat-icon>help_outline</mat-icon>
            </button>
        </div>
        <app-svg-editor #canvas (editLabelDialog)="editLabelDialog($event)"
            (editElementDialog)="editElementDialog()">
        </app-svg-editor>
    </div>
</div>