.main-container {
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;

  .first-section {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    width: 66%;
  }

  .card-container {
    margin-bottom: 15px;

    .card-header {
      background-color: #f7f7f7;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    .setting-container {
      display: flex;
      flex-direction: column;
    }

    .bg-color-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .color-field {
        width: 143px;
        margin-left: 10px;
        margin-bottom: -10px;
      }

      .bg-colors {
        width: 20px;
        height: 20px;
        border: 3px solid #e2e2e2;
      }
    }
  }
}

.button-confirmation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}